#include "swiss_de.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Layer numbers

#define BASE        0
#define NUMBERS     1
#define AEOUE       2
#define ARROWS      3
#define SYMBOLS     4
#define GAMING      5


// Custom behaviors

&mt {
    tapping-term-ms = <200>;
};

/ {
    behaviors {

        /*
         * Home-row mods
         */

        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;

            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions =
                <6 7 8 9 10 11
                 18 19 20 21 22 23
                 30 31 32 33 34 35
                 39 40 41>;

            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;

            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions =
                <0 1 2 3 4 5
                 12 13 14 15 16 17
                 24 25 26 27 28 29
                 36 37 38>;

            hold-trigger-on-release;
        };


        /*
         * Shift + Space -> Tab
         */

        shift_space: shift_space {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;

            bindings = <&kp SPACE>, <&kp TAB>;

            mods = <MOD_LSFT>;
        };


        /*
         * Shift + ; -> :
         */

        shift_semicolon: shift_semicolon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;

            bindings = <&kp CH_SCLN>, <&kp CH_COLN>;

            mods = <MOD_LSFT>;
        };


        /*
         * Ctrl + Y -> Ctrl + Z
         *
         * For now, use a simple mod-morph.
         *
         * The held Ctrl is preserved by the keyboard's modifier state,
         * so Ctrl+Y becomes Ctrl+Z.
         */

        ctrl_y_undo: ctrl_y_undo {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;

            bindings = <&kp CH_Y>, <&kp Z>;

            mods = <MOD_LCTL>;
        };
    };


    /*
     * Combos
     */

    combos {

        compatible = "zmk,combos";

        combo_df_arrows {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&mo ARROWS>;
        };

        combo_jk_aeoue {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&mo AEOUE>;
        };

        combo_sd_gui {
            timeout-ms = <50>;
            key-positions = <13 14>;
            bindings = <&kp LGUI>;
        };

        combo_kl_gui {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp LGUI>;
        };
    };



    // Keymap

keymap {

    compatible = "zmk,keymap";

    base {
        display-name = "BASE";
        bindings = <
            &none   &kp CH_Q &kp CH_W &kp CH_E &kp CH_R &kp CH_T        &kp CH_Z &kp CH_U &kp CH_I    &kp CH_O   &kp CH_P   &tog GAMING
            &kp ESC &kp CH_A &kp CH_S &hml LALT CH_D &hml LCTRL CH_F    &kp CH_G &kp CH_H &hmr LCTRL CH_J &hmr LALT CH_K &kp CH_L &shift_semicolon &none
            &none   &ctrl_y_undo &kp CH_X &kp CH_C &kp CH_V &kp CH_B    &kp CH_N &kp CH_M &kp CH_COMM &kp CH_DOT &kp CH_SLSH &tog GAMING
                              &mo NUMBERS &kp LSHIFT &kp BACKSPACE          &mo SYMBOLS &shift_space &kp ENTER
        >;
    };

    numbers {
        display-name = "NUMBERS";
        bindings = <
            &none  &kp CH_TILD &kp CH_BSLS &kp CH_AT &kp CH_PERC &kp CH_BRKP    &none &none &none &none &none &none
            &none  &kp CH_1 &kp CH_2 &mt LALT CH_3 &mt LCTRL CH_4 &kp CH_5      &kp CH_6 &mt LCTRL CH_7 &mt LALT CH_8 &kp CH_9 &kp CH_0 &none
            &none  &kp CH_PLUS &kp CH_MINS &kp CH_ASTR &kp CH_SLSH &kp CH_EQL   &kp CH_QUES &kp CH_EXLM &kp CH_COMM &kp CH_DOT &none &none
                              &trans &kp LSHIFT &kp BACKSPACE                       &kp TAB &kp SPACE &kp ENTER
        >;
    };

    aeoue {
        display-name = "ÄÖÜ";
        bindings = <
            &none  &none &none &none &none &none        &none &none &none &none &none &none
            &none  &kp CH_DQUO &kp CH_UDIA &kp CH_ODIA  &kp CH_ADIA &none   &kp CH_DIAE &trans &trans &none &none &none
            &none  &none &none &kp DOWN &none &none     &none &none &none &none &none &none
                        &none &kp LSHIFT &kp LCTRL          &kp LALT &kp SPACE &kp RALT
        >;
    };

    arrows {
        display-name = "ARROWS";
        bindings = <
            &none  &none &none &none &none &none            &kp CH_AT &none &none &none &none &none
            &none  &none &kp TAB &trans &trans &none        &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp TAB &none
            &none  &none &none &none &none &none &none      &none &none &none &none &none
                        &none &kp LSHIFT &kp LCTRL              &kp LALT &kp SPACE &kp RALT
        >;
    };

    symbols {
        display-name = "SYMBOLS";
        bindings = <
            &none  &none &none &none &none &none                                    &kp CH_PIPE &kp CH_AMPR &kp CH_HASH &kp CH_DEG &kp CH_SECT &none
            &none  &kp CH_LABK &kp CH_LBRC &kp CH_LCBR &kp CH_LPRN &kp CH_DQUO      &kp CH_QUOT &kp CH_RPRN &kp CH_RCBR &kp CH_RBRC &kp CH_RABK &none
            &none  &none &kp CH_UNDS &none &none &none                              &none &none &none &none &none &none
                            &kp TAB &kp LSHIFT &kp LCTRL                                  &trans &kp SPACE &none
        >;
    };

    gaming {
        display-name = "GAMING";
        bindings = <
            &kp ESC &kp CH_Q &kp CH_W &kp CH_E &kp CH_R &kp CH_T   &kp CH_Z &kp CH_U &kp CH_I &kp CH_O &kp CH_P &trans
            &kp TAB &kp CH_A &kp CH_S &kp CH_D &kp CH_F &kp CH_G   &kp CH_H &kp CH_J &kp CH_K &kp CH_L &kp CH_SCLN &none
            &none &kp CH_Y &kp CH_X &kp CH_C &kp CH_V &kp CH_B     &kp CH_N &kp CH_M &kp CH_COMM &kp CH_DOT &kp CH_SLSH &trans
                            &kp ENTER &kp LSHIFT &kp SPACE            &kp LALT &kp LCTRL &kp ENTER
        >;
    };
};
