#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "keys_de_swiss.h"

// Layer numbers

#define BASE        0
#define NUMBERS     1
#define AEOUE       2
#define ARROWS      3
#define SYMBOLS     4
#define GAMING      5


// Custom behaviors

&mt {
    tapping-term-ms = <200>;
};

/ {
    behaviors {

        /*
         * Home-row mods
         */

        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;

            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions =
                <6 7 8 9 10 11
                 18 19 20 21 22 23
                 30 31 32 33 34 35
                 39 40 41>;

            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;

            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions =
                <0 1 2 3 4 5
                 12 13 14 15 16 17
                 24 25 26 27 28 29
                 36 37 38>;

            hold-trigger-on-release;
        };


        /*
         * Shift + Space -> Tab
         */

        shift_space: shift_space {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;

            bindings = <&kp SPACE>, <&kp TAB>;

            mods = <MOD_LSFT>;
        };


        /*
         * Shift + ; -> :
         */

        shift_semicolon: shift_semicolon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;

            bindings = <&kp CH_SEMICOLON>, <&kp CH_COLON>;

            mods = <MOD_LSFT>;
        };


        /*
         * Ctrl + Y -> Ctrl + Z
         *
         * For now, use a simple mod-morph.
         *
         * The held Ctrl is preserved by the keyboard's modifier state,
         * so Ctrl+Y becomes Ctrl+Z.
         */

        ctrl_y_undo: ctrl_y_undo {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;

            bindings = <&kp CH_Y>, <&kp CH_Z>;

            mods = <MOD_LCTL>;
        };
    };


    /*
     * Combos
     */

    combos {

        compatible = "zmk,combos";

        combo_df_arrows {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&mo ARROWS>;
        };

        combo_jk_aeoue {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&mo AEOUE>;
        };

        combo_sd_gui {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&kp LGUI>;
        };

        combo_kl_gui {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp LGUI>;
        };
    };



    // Keymap

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
                &none   &kp CH_Q &kp CH_W &kp CH_E &kp CH_R &kp CH_T        &kp CH_Z &kp CH_U &kp CH_I    &kp CH_O   &kp CH_P   &tog GAMING
                &kp ESC &kp CH_A &kp CH_S &hml LALT CH_D &hml LCTRL CH_F    &kp CH_G &kp CH_H &hmr LCTRL CH_J &hmr LALT CH_K &kp CH_L &shift_semicolon &none
                &none   &ctrl_y_undo &kp CH_X &kp CH_C &kp CH_V &kp CH_B    &kp CH_N &kp CH_M &kp CH_COMMA &kp CH_DOT &kp CH_SLASH &tog GAMING
                                      &mo NUMBERS &kp LSHIFT &kp BACKSPACE          &mo SYMBOLS &shift_space &kp ENTER
            >;
        };

        numbers {
            display-name = "NUMBERS";
            bindings = <
                &none  &none &none &none &none &none                                    &kp CH_PIPE &kp CH_AMPS &kp CH_HASH &kp CH_DEGREE &kp CH_CARET &none
                &none  &kp CH_N1 &kp CH_N2 &kp CH_N3 &kp CH_N4 &kp CH_N5                 &kp CH_N6 &kp CH_N7 &kp CH_N8 &kp CH_N9 &kp CH_N0 &none
                &none  &kp CH_PLUS &kp CH_MINUS &kp CH_ASTERISK &kp CH_SLASH &kp CH_EQUAL   &kp CH_QUESTION &kp CH_EXCLAMATION &kp CH_COMMA &kp CH_DOT &none &none
                                      &trans &kp LSHIFT &kp BACKSPACE                       &kp TAB &kp SPACE &kp ENTER
            >;
        };

        aeoue {
            display-name = "ÄÖÜ";
            bindings = <
                &bt BT_CLR_ALL  &bt BT_CLR &none &none &bt BT_NXT  &none                         &none &none &none &none &none &none
                &none  &kp CH_DOUBLE_QUOTES &kp CH_U_UMLAUT &kp CH_O_UMLAUT &kp CH_A_UMLAUT    &none &none &trans &trans &none &none &none
                &none  &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4     &none &none &none &none &none &none
                            &none &kp LSHIFT &kp LCTRL                          &kp LALT &kp SPACE &kp RALT
            >;
        };

        arrows {
            display-name = "ARROWS";
            bindings = <
                &none  &none &none &none &none &none            &none &none &none &none &none &none
                &none  &none &none &trans &trans &none        &kp LEFT &kp DOWN &kp UP &kp RIGHT &none &none
                &none  &none &none &none &none &none            &none &none &none &none &none &none
                            &none &kp LSHIFT &kp LCTRL              &kp LALT &kp SPACE &kp RALT
            >;
        };

        symbols {
            display-name = "SYMBOLS";
            bindings = <
                &none  &kp CH_TILDE &kp CH_SECT &kp CH_AT &kp CH_PERCENT &kp CH_BROKEN_PIPE    &none &none &none &none &none &none
                &none  &kp CH_LESS_THAN &kp CH_LBKT &kp CH_LBRC &kp CH_LPAR &kp CH_DOUBLE_QUOTES    &kp CH_SINGLE_QUOTE &kp CH_RPAR &kp CH_RBRC &kp CH_RBKT &kp CH_GREATER_THAN &none
                &none  &none &kp CH_UNDERSCORE &none &kp CH_BSLH &none                       &none &none &none &none &none &none
                                &kp TAB &kp LSHIFT &kp LCTRL                                  &trans &kp SPACE &none
            >;
        };

        gaming {
            display-name = "GAMING";
            bindings = <
                &kp ESC &kp CH_Q &kp CH_W &kp CH_E &kp CH_R &kp CH_T   &kp CH_Z &kp CH_U &kp CH_I &kp CH_O &kp CH_P &trans
                &kp TAB &kp CH_A &kp CH_S &kp CH_D &kp CH_F &kp CH_G   &kp CH_H &kp CH_J &kp CH_K &kp CH_L &kp CH_SEMICOLON &none
                &none &kp CH_Y &kp CH_X &kp CH_C &kp CH_V &kp CH_B     &kp CH_N &kp CH_M &kp CH_COMMA &kp CH_DOT &kp CH_SLASH &trans
                                &kp ENTER &kp LSHIFT &kp SPACE            &kp LALT &kp LCTRL &kp ENTER
            >;
        };
    };
};
